# EditorConfig: https://editorconfig.org/

[*]
insert_final_newline = true

[*.{kt,kts}]
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = false

# Composableの場合は大文字始まりを許容
ktlint_function_naming_ignore_when_annotated_with = Composable

# 代入の際、インデントが深くならないようにする
ktlint_standard_multiline-expression-wrapping = disabled
ktlint_standard_string-template-indent = disabled

# 関数における複数の引数を1行で書くのを許容
ktlint_standard_function-signature = disabled

# ktlint 12.2.0 からktlint系コマンドでエラーが出るようになったので、以下を無効化して対処
ktlint_standard_discouraged-comment-location = disabled
ktlint_standard_if-else-wrapping = disabled
