name: Check and test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  check_and_test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Check and test with Gradle
        env:
          TZ: "Asia/Tokyo"
        run: ./gradlew ktlintCheck testReleaseUnitTest validateScreenshotTest

      - name: Save failed results
        if: failure()
        uses: actions/upload-artifact@v6
        with:
          name: Result
          path: |
            ./**/build/reports/lint-results-*.html
            ./**/build/reports/screenshotTest
            ./**/build/reports/tests
          retention-days: 30

      - name: Notify Slack on Failure
        if: failure()
        continue-on-error: true
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        run: |
          curl -X POST -H 'Content-type: application/json' \
          --data "{
            \"text\": \"❌ *GitHub Action の Check and test が失敗しました!* \\n*Repository:* ${{ github.repository }} \\n*Workflow:* ${{ github.workflow }} \\n*URL:* ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}\"
          }" $SLACK_WEBHOOK_URL
